<% layout('/layouts/boilerplate') %>
<!-- movies.ejs -->

<title>Movies</title>

<style>
  body {
  background-color: #D3D3D3;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(184px, 1fr));
  grid-gap: 20px;
}

.movie {
  text-align: center;
  border: 2px solid none;
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.movie-title {
  padding: 5px;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-button {
  margin-right: 10px;
}

</style>


<h1>Movies</h1>
<!--
<div class="filter-buttons">
  <button class="filter-button" onclick="filterMovies('type', 'movie')">Movie</button>
  <button class="filter-button" onclick="filterMovies('type', 'tvshow')">TV Show</button>
  <button class="filter-button" onclick="filterMovies('quality', 'HD')">HD</button>
  <button class="filter-button" onclick="filterMovies('quality', 'SD')">SD</button>
  
</div>
-->

<div class="movies-container">
  <% movies.forEach(function(movie) { %>
    <div class="movie">
      <a href="/movies/<%= movie._id %>/videos">
        <img src="<%= movie.image %>" alt="<%= movie.title %> Poster" onclick="window.location.href='/movies/<%= movie._id %>/videos';">
      </a>
      <div class="movie-title">
        <h2><%= movie.title %></h2>
      </div>
      <% if(isAdmin) { %>
        <a href="/movies/<%= movie._id %>/edit">Edit</a>
        <a href="/movies/<%= movie._id %>/delete">Delete</a>
      <% } %>
    </div>
  <% }) %>
</div>

<% if (prevPage || nextPage) { %>
  <div class="pagination">
    <% if (prevPage) { %>
      <a href="/movies?page=<%= prevPage %>&search=<%= searchQuery %>">Previous</a>
    <% } %>
    <% if (nextPage) { %>
      <a href="/movies?page=<%= nextPage %>&search=<%= searchQuery %>">Next</a>
    <% } %>
  </div>
<% } %>

<script>
  /*
  function filterMovies(filterBy, filterValue) {
    const url = new URL(window.location.href);
    url.searchParams.set(filterBy, filterValue);
    window.location.href = url.toString();
  }
  */
</script>
